.hero5-header19 {
  display: flex;
  justify-content: center;
}
.hero5-max-width {
  align-self: center;
  align-items: flex-start;
}
.hero5-video {
  width: 550px;
  height: auto;
}
.hero5-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero5-content {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 278px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero5-text2 {
  display: inline-block;
  text-align: left;
}
.hero5-text3 {
  display: inline-block;
  text-align: left;
}
@media(max-width: 991px) {
  .hero5-max-width {
    flex-direction: column;
  }
  .hero5-video {
    width: 100%;
  }
  .hero5-text2 {
    text-align: center;
  }
  .hero5-text3 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .hero5-content {
    height: 240px;
    align-self: center;
    align-items: center;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .hero5-text2 {
    width: 429px;
  }
}
