.navbar8-container52 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar8-navbar-interactive1 {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #ffffff;
}
.navbar8-image11 {
  height: 3rem;
}
.navbar8-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar8-links4 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar8-link26 {
  text-decoration: none;
}
.navbar8-buttons4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar8-action17 {
  width: 115px;
  height: 45px;
  display: flex;
  transition: 0.3s;
  border-color: linear-gradient(225deg, rgb(0, 69, 255) 1.00%,rgb(61, 183, 255) 100.00%);
  border-width: 0px;
  flex-direction: row;
  background-color: transparent;
  background-image: linear-gradient(225deg, rgb(0, 69, 255) 1.00%,rgb(61, 183, 255) 100.00%);
}
.navbar8-action17:hover {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  border-color: var(--dl-color-theme-primary2);
  border-width: 2px;
  background-image: linear-gradient(225deg, rgb(0, 69, 255) 1.00%,rgb(255, 255, 255) 0.00%);
}
.navbar8-navlink2 {
  text-decoration: none;
}
.navbar8-burger-menu1 {
  display: none;
}
.navbar8-icon36 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar8-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar8-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-top1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar8-logo1 {
  height: 3rem;
}
.navbar8-close-menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar8-icon38 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar8-links5 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.navbar8-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.navbar8-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar8-container53 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar8-icon40 {
  width: 24px;
  height: 24px;
}
.navbar8-container54 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar8-icon42 {
  width: 24px;
  height: 24px;
}
.navbar8-container55 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
.navbar8-menu-item08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar8-page1-image2 {
  width: 50px;
  height: 50px;
}
.navbar8-content17 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar8-menu-item09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar8-page2-image2 {
  width: 50px;
  height: 50px;
}
.navbar8-content18 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar8-menu-item10 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar8-page3-image2 {
  width: 50px;
  height: 50px;
}
.navbar8-content19 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar8-menu-item11 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar8-page4-image2 {
  width: 50px;
  height: 50px;
}
.navbar8-content20 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar8-buttons5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
.navbar8-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.navbar8-container56 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar8-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-oneandhalfunits);
  grid-gap: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navbar8-menu-item12 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar8-page1-image3 {
  width: 30px;
  height: 30px;
}
.navbar8-content21 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-menu-item13 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar8-page2-image3 {
  width: 30px;
  height: 30px;
}
.navbar8-content22 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-menu-item14 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar8-page3-image3 {
  width: 30px;
  height: 30px;
}
.navbar8-content23 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-menu-item15 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar8-page4-image3 {
  width: 30px;
  height: 30px;
}
.navbar8-content24 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-container57 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-text08 {
  display: inline-block;
}
.navbar8-text10 {
  display: inline-block;
}
.navbar8-text06 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar8-text01 {
  display: inline-block;
}
.navbar8-text13 {
  display: inline-block;
}
.navbar8-text07 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar8-text03 {
  display: inline-block;
}
.navbar8-text12 {
  display: inline-block;
}
.navbar8-text02 {
  display: inline-block;
  text-decoration: none;
}
.navbar8-text {
  display: inline-block;
  text-decoration: none;
}
.navbar8-text11 {
  display: inline-block;
}
.navbar8-text04 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar8-text05 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar8-text09 {
  display: inline-block;
}
.navbar8-text14 {
  display: inline-block;
}
.navbar8-root-class-name1 {
  background-color: transparent;
}
@media(max-width: 767px) {
  .navbar8-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar8-burger-menu1 {
    align-items: center;
    justify-content: center;
  }
  .navbar8-mobile-menu1 {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .navbar8-container55 {
    grid-gap: 0;
  }
  .navbar8-link5-menu-list {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar8-navbar-interactive1 {
    padding: var(--dl-space-space-unit);
  }
  .navbar8-desktop-menu1 {
    display: none;
  }
  .navbar8-burger-menu1 {
    display: flex;
  }
  .navbar8-mobile-menu1 {
    padding: var(--dl-space-space-unit);
  }
}

.sign-in31-container58 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in31-max-width12 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  z-index: 100;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.sign-in31-form-root2 {
  gap: var(--dl-space-space-unit);
  width: 600px;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.sign-in31-form6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in31-form7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sign-in31-email2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-in31-textinput6 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-in31-password2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in31-container59 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-in31-hide-password2 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.sign-in31-icon50 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
.sign-in31-textinput7 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-in31-link17 {
  align-self: flex-end;
  text-decoration:  underline none;
}
.sign-in31-container60 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in31-button17 {
  width: 100%;
  align-self: center;
  border-width: 0px;
  background-color: transparent;
  background-image: linear-gradient(225deg, rgb(0, 69, 255) 1.00%,rgb(61, 183, 255) 100.00%);
}
.sign-in31-container61 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in31-divider7 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sign-in31-sign-up-image2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
.sign-in31-container62 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.4);
}
.sign-in31-text162 {
  display: inline-block;
  text-align: center;
}
.sign-in31-text163 {
  display: inline-block;
  align-self: center;
}
@media(max-width: 991px) {
  .sign-in31-form-root2 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .sign-in31-form-root2 {
    padding: 0px;
  }
  .sign-in31-button17 {
    width: 100%;
  }
}

.sign-in3-container40 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in3-text162 {
  display: inline-block;
  text-align: center;
}
.sign-in3-text163 {
  display: inline-block;
  align-self: center;
}

.login-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-text {
  display: inline-block;
  text-decoration: none;
}
.login-text01 {
  display: inline-block;
}
.login-text02 {
  display: inline-block;
  text-decoration: none;
}
.login-text03 {
  display: inline-block;
}
.login-text04 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.login-text05 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.login-text06 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.login-text07 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.login-text08 {
  display: inline-block;
}
.login-text09 {
  display: inline-block;
}
.login-text10 {
  display: inline-block;
}
.login-text11 {
  display: inline-block;
}
.login-text12 {
  display: inline-block;
}
.login-text13 {
  display: inline-block;
}
.login-text14 {
  display: inline-block;
}
