<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wee Knowledgeable Gnu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./features23.css" rel="stylesheet" />
      <div class="features23-layout349 thq-section-padding">
        <div id="sensors" class="features23-max-width thq-section-max-width">
          <div class="features23-container">
            <h2>
              <fragment>
                <span class="features23-text23 thq-heading-2">Features</span>
              </fragment>
            </h2>
            <span>
              <fragment>
                <span class="features23-text22 thq-body-small">
                  AquaSmart uses advanced technological components to provide an
                  advanced user experience
                </span>
              </fragment>
            </span>
          </div>
          <div class="thq-grid-3">
            <div class="features23-container2 thq-card">
              <img
                alt="Automated Feeding Schedule"
                src="https://images.unsplash.com/photo-1473091534298-04dcbce3278c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMTkyMjgzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image thq-img-round"
              />
              <h2>
                <fragment>
                  <span class="features23-text18 thq-heading-2">
                    Default value
                  </span>
                </fragment>
              </h2>
              <span>
                <fragment>
                  <span class="features23-text26 thq-body-small">
                    Default value
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container3 thq-card">
              <img
                alt="Water Quality Monitoring"
                src="https://images.unsplash.com/photo-1703664469583-b34430f5e9f5?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMTkyMjgzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image1 thq-img-round"
              />
              <h2>
                <fragment>
                  <span class="features23-text16 thq-heading-2">
                    Default value
                  </span>
                </fragment>
              </h2>
              <span>
                <fragment>
                  <span class="features23-text20 thq-body-small">
                    Default value
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container4 thq-card">
              <img
                alt="Lighting Control"
                src="https://images.unsplash.com/photo-1707580595926-f5ff2cd9e9f8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMTkyMjgzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image2 thq-img-round"
              />
              <h2>
                <fragment>
                  <span class="features23-text21 thq-heading-2">
                    Default value
                  </span>
                </fragment>
              </h2>
              <span>
                <fragment>
                  <span class="features23-text25 thq-body-small">
                    Default value
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container5 thq-card">
              <img
                alt="Remote Access and Alerts"
                src="https://images.unsplash.com/photo-1553901771-6f23562a2993?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMTkyMjgzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image3 thq-img-round"
              />
              <h2>
                <fragment>
                  <span class="features23-text17 thq-heading-2">
                    Default value
                  </span>
                </fragment>
              </h2>
              <span>
                <fragment>
                  <span class="features23-text19 thq-body-small">
                    Default value
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container6 thq-card">
              <img
                alt="image"
                src="https://images.unsplash.com/photo-1529376628022-9aaf5a81e0f1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMTkyMjkwMnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image4 thq-img-round"
              />
              <h2>
                <fragment>
                  <span class="features23-text14 thq-heading-2">
                    Default value
                  </span>
                </fragment>
              </h2>
              <span>
                <fragment>
                  <span class="features23-text27 thq-body-small">
                    Default value
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container7 thq-card">
              <img
                alt="Feature 1"
                src="https://images.unsplash.com/photo-1514503962390-34dba96ba3f6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjE4MjcwM3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image5 thq-img-round"
              />
              <h2>
                <fragment>
                  <span class="features23-text15 thq-heading-2">Feature 6</span>
                </fragment>
              </h2>
              <span>
                <fragment>
                  <span class="features23-text24 thq-body-small">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla.
                  </span>
                </fragment>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
